:root{
    --important--color: #0095f6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

/*Base class*/
.flex{display: flex;}
.blue-text{
    color: var(--important--color);
    font-weight: 600;
}

/* Document Class**/
.main-content{
    align-items: center;
    justify-content: center;
}

.continue-content{
    width: 100%;
    max-width: 360px;
    flex-direction: column;
    text-align: center;
}

.continue-content__group{
    padding: 16px 0;
    margin-bottom: 16px;
    background-color: white;
    border: lightgray solid 1px;
}

/*=== FIRST GROUP ===*/
.brand-name{
    padding: 16px 0;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
}

.profile-photo{
    width: 100px;
    height: 100px;
    margin: 16px auto;
}

.profile-photo > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*=== SECOND GROUP ===*/
.continue-account{
    max-width: 75%;
    margin: 0 auto;
    padding: 5px 0;

    background-color: var(--important--color);
    border-radius: 5px;
    color: whitesmoke;
    display: block;
    font-weight: 600;
}

.remove-account{
    color: var(--important--color);
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: 15px auto;
}

/*=== THIRD GROUP ===*/
.group-app__download{
    width: 50%;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 16px 5px 0;
}

.group-app__download:nth-child(1){
    background-image: url("../img/asbtn.png");
}

.group-app__download:nth-child(2){
    background-image: url("../img/gpbtn.png");
}

@media screen and (max-width: 900px){
    .smarthphone{
        display: none;
    }
} 

@media screen and (max-width: 370px){
    .continue-content{
        max-width: 300px;
    }
}
